html, body {
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    background-color: slategray;
    text-align: center;
}

.entrance-container {
    box-shadow: snow 0px 0px 20px 0px;
    margin: auto;
    height: 100%;
    width: 50%;
    background-color: bisque;
    text-align: center;
}

.logo {
    position: fixed;
    margin-top: -85px;
}

#entrance-image {
    width: 620px;
    height: 400px;
}

.user-container {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50%;
    padding: 30%;
}

.username {
    margin-top: 100px;
}

.password {
    padding: 10px;
}

input {
    border-radius: 30px;
    padding: 5px;
    border: 2px solid rgb(140, 182, 218);
}

input:hover {
    border-color:rgb(142, 219, 219);
}

.log-in-button-container {
    margin-top: 75px;
}

.log-in-button {
    padding: 5px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.log-in-button:hover {
    transition: 0.5s ease-in;
    color: rgb(235, 147, 115);
    border: 2px solid;
    border-color: #fff;
}

/* NEWPAGE.HTML */

.header-container {
    width: 100%;
    height: 10%;
    background-color: rgb(229, 195, 153);
}

.body-container {
    height: 100%;
    width: 100%;
    background-color: slategray;
    text-align: center;
}

.footer-container {
    height: 25%;
    width: 100%;
    background-color: rgb(70, 79, 88);
    text-align: center;
}

form {
    margin-top: 70px;
}